@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #163fa4 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #163fa4;
  border-color: #163fa4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0d2561;
  border-color: #0d2561;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d2561 !important;
  border-color: #0d2561 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #0a1c4a;
  color: #0a1c4a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #163fa4;
  border-color: #163fa4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #163fa4 !important;
  border-color: #163fa4 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #163fa4 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #163fa4;
}
.btn-social:hover {
  background: #163fa4;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #163fa4;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #163fa4;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #163fa4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #163fa4;
}
.lead a,
.lead a:hover {
  color: #163fa4;
}
.lead blockquote {
  border-color: #163fa4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #527de8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #163fa4;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-0 .navbar-toggler {
  color: #000000;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #000000;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #000000;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#slider-2 H2 {
  font-size: 46px;
  text-align: center;
}
#slider-2 P {
  font-size: 22px;
  text-align: left;
}
#msg-box2-i .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-i .mbr-section-subtitle {
  color: #efefef;
}
#footer1-9 P {
  color: #efefef;
  font-size: 15px;
}
#features1-k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#header6-o .mbr-section-title {
  color: #28262b;
}
#header6-o .mbr-section-text {
  color: #565656;
}
#form2-p .mbr-section-title {
  color: #fff;
}
#form2-p .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-t .mbr-section-title,
#social-buttons2-t .btn-social {
  color: #232323;
}
#contacts1-x P {
  text-align: center;
}
#content5-2l .mbr-section-title,
#content5-2l p {
  color: #fff;
}
#content5-2l .mbr-section-title {
  text-align: center;
}
#content5-2l P {
  text-align: center;
}
#ext_menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1p .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-1p .navbar-toggler {
  color: #000000;
}
#ext_menu-1p .close-icon::before,
#ext_menu-1p .close-icon::after {
  background-color: #000000;
}
#ext_menu-1p .link,
#ext_menu-1p .dropdown-item {
  color: #000000;
}
#ext_menu-1p .link {
  font-size: 0.75rem;
}
#ext_menu-1p .dropdown-item,
#ext_menu-1p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1p .link:hover,
#ext_menu-1p .dropdown-item:hover,
#ext_menu-1p .link:focus,
#ext_menu-1p .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1p .nav-dropdown-sm .link:focus,
#ext_menu-1p .nav-dropdown-sm .link:hover,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1p .navbar,
#ext_menu-1p .nav-dropdown-sm,
#ext_menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1p .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1p .bg-color.transparent.opened .link:hover,
#ext_menu-1p .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-1p .link[aria-expanded="true"],
#ext_menu-1p .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-1r P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-2k .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-2k .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-1v .mbr-section-title,
#social-buttons2-1v .btn-social {
  color: #232323;
}
#contacts1-1w P {
  text-align: center;
}
#ext_menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-14 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-14 .navbar-toggler {
  color: #000000;
}
#ext_menu-14 .close-icon::before,
#ext_menu-14 .close-icon::after {
  background-color: #000000;
}
#ext_menu-14 .link,
#ext_menu-14 .dropdown-item {
  color: #000000;
}
#ext_menu-14 .link {
  font-size: 0.75rem;
}
#ext_menu-14 .dropdown-item,
#ext_menu-14 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-14 .link:hover,
#ext_menu-14 .dropdown-item:hover,
#ext_menu-14 .link:focus,
#ext_menu-14 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-14 .nav-dropdown-sm .link:focus,
#ext_menu-14 .nav-dropdown-sm .link:hover,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-14 .navbar,
#ext_menu-14 .nav-dropdown-sm,
#ext_menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-14 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-14 .bg-color.transparent.opened .link:hover,
#ext_menu-14 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#msg-box8-1e .mbr-section-title,
#msg-box8-1e p {
  color: #fff;
}
#msg-box8-1e .lead {
  color: #ffffff;
  text-align: left;
}
#msg-box8-1e .mbr-section-title {
  text-align: left;
}
#footer1-1a P {
  color: #efefef;
  font-size: 15px;
}
#msg-box5-1f H3 {
  font-size: 32px;
}
#msg-box5-1f P {
  text-align: left;
}
#features4-1m .card-subtitle {
  color: #f3c649;
}
#features4-1m .iconbox {
  background-color: #e25041;
  border-color: #e25041;
}
#features4-1m H4 {
  color: #ffffff;
  text-align: center;
}
#social-buttons2-1d .mbr-section-title,
#social-buttons2-1d .btn-social {
  color: #232323;
}
#contacts1-19 P {
  text-align: center;
}
#ext_menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1x .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-1x .navbar-toggler {
  color: #000000;
}
#ext_menu-1x .close-icon::before,
#ext_menu-1x .close-icon::after {
  background-color: #000000;
}
#ext_menu-1x .link,
#ext_menu-1x .dropdown-item {
  color: #000000;
}
#ext_menu-1x .link {
  font-size: 0.75rem;
}
#ext_menu-1x .dropdown-item,
#ext_menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1x .link:hover,
#ext_menu-1x .dropdown-item:hover,
#ext_menu-1x .link:focus,
#ext_menu-1x .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1x .nav-dropdown-sm .link:focus,
#ext_menu-1x .nav-dropdown-sm .link:hover,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1x .navbar,
#ext_menu-1x .nav-dropdown-sm,
#ext_menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1x .bg-color.transparent.opened .link:hover,
#ext_menu-1x .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-1x .link[aria-expanded="true"],
#ext_menu-1x .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#msg-box8-1y .mbr-section-title,
#msg-box8-1y p {
  color: #fff;
}
#msg-box8-1y .lead {
  color: #ffffff;
  text-align: left;
}
#msg-box8-1y .mbr-section-title {
  text-align: left;
}
#footer1-1z P {
  color: #efefef;
  font-size: 15px;
}
#msg-box5-20 H3 {
  font-size: 32px;
}
#msg-box5-20 P {
  text-align: left;
}
#features4-21 .card-subtitle {
  color: #f3c649;
}
#features4-21 .iconbox {
  background-color: #e25041;
  border-color: #e25041;
}
#features4-21 H4 {
  color: #ffffff;
  text-align: center;
}
#social-buttons2-23 .mbr-section-title,
#social-buttons2-23 .btn-social {
  color: #232323;
}
#contacts1-24 P {
  text-align: center;
}
#ext_menu-25 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-25 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-25 .navbar-toggler {
  color: #000000;
}
#ext_menu-25 .close-icon::before,
#ext_menu-25 .close-icon::after {
  background-color: #000000;
}
#ext_menu-25 .link,
#ext_menu-25 .dropdown-item {
  color: #000000;
}
#ext_menu-25 .link {
  font-size: 0.75rem;
}
#ext_menu-25 .dropdown-item,
#ext_menu-25 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-25 .link:hover,
#ext_menu-25 .dropdown-item:hover,
#ext_menu-25 .link:focus,
#ext_menu-25 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-25 .link[aria-expanded="true"],
#ext_menu-25 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-25 .nav-dropdown-sm .link:focus,
#ext_menu-25 .nav-dropdown-sm .link:hover,
#ext_menu-25 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-25 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-25 .navbar,
#ext_menu-25 .nav-dropdown-sm,
#ext_menu-25 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-25 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-25 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-25 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-25 .bg-color.transparent.opened .link:hover,
#ext_menu-25 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-25 .link[aria-expanded="true"],
#ext_menu-25 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#msg-box8-26 .lead {
  color: #ffffff;
  text-align: left;
}
#msg-box8-26 .mbr-section-title {
  text-align: left;
}
#footer1-27 P {
  color: #efefef;
  font-size: 15px;
}
#msg-box5-28 H3 {
  font-size: 32px;
}
#msg-box5-28 P {
  text-align: left;
}
#features4-29 .card-subtitle {
  color: #f3c649;
}
#features4-29 .iconbox {
  background-color: #e25041;
  border-color: #e25041;
}
#features4-29 H4 {
  color: #ffffff;
  text-align: center;
}
#social-buttons2-2b .mbr-section-title,
#social-buttons2-2b .btn-social {
  color: #232323;
}
#contacts1-2c P {
  text-align: center;
}
#content5-2m .mbr-section-title,
#content5-2m p {
  color: #fff;
}
#content5-2m .mbr-section-title {
  text-align: center;
}
#content5-2m P {
  text-align: center;
}
#ext_menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2p .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-2p .navbar-toggler {
  color: #000000;
}
#ext_menu-2p .close-icon::before,
#ext_menu-2p .close-icon::after {
  background-color: #000000;
}
#ext_menu-2p .link,
#ext_menu-2p .dropdown-item {
  color: #000000;
}
#ext_menu-2p .link {
  font-size: 0.75rem;
}
#ext_menu-2p .dropdown-item,
#ext_menu-2p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2p .link:hover,
#ext_menu-2p .dropdown-item:hover,
#ext_menu-2p .link:focus,
#ext_menu-2p .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2p .nav-dropdown-sm .link:focus,
#ext_menu-2p .nav-dropdown-sm .link:hover,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2p .navbar,
#ext_menu-2p .nav-dropdown-sm,
#ext_menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2p .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2p .bg-color.transparent.opened .link:hover,
#ext_menu-2p .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-2q P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-2r .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-2r .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-2s .mbr-section-title,
#social-buttons2-2s .btn-social {
  color: #232323;
}
#contacts1-2t P {
  text-align: center;
}
#content5-2u .mbr-section-title,
#content5-2u p {
  color: #fff;
}
#content5-2u .mbr-section-title {
  text-align: center;
}
#content5-2u P {
  text-align: center;
}
#ext_menu-2x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2x .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-2x .navbar-toggler {
  color: #000000;
}
#ext_menu-2x .close-icon::before,
#ext_menu-2x .close-icon::after {
  background-color: #000000;
}
#ext_menu-2x .link,
#ext_menu-2x .dropdown-item {
  color: #000000;
}
#ext_menu-2x .link {
  font-size: 0.75rem;
}
#ext_menu-2x .dropdown-item,
#ext_menu-2x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2x .link:hover,
#ext_menu-2x .dropdown-item:hover,
#ext_menu-2x .link:focus,
#ext_menu-2x .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2x .nav-dropdown-sm .link:focus,
#ext_menu-2x .nav-dropdown-sm .link:hover,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2x .navbar,
#ext_menu-2x .nav-dropdown-sm,
#ext_menu-2x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2x .bg-color.transparent.opened .link:hover,
#ext_menu-2x .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-2x .link[aria-expanded="true"],
#ext_menu-2x .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-2y P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-2z .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-2z .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-30 .mbr-section-title,
#social-buttons2-30 .btn-social {
  color: #232323;
}
#contacts1-31 P {
  text-align: center;
}
#content5-32 .mbr-section-title,
#content5-32 p {
  color: #fff;
}
#content5-32 .mbr-section-title {
  text-align: center;
}
#content5-32 P {
  text-align: center;
}
#ext_menu-35 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-35 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-35 .navbar-toggler {
  color: #000000;
}
#ext_menu-35 .close-icon::before,
#ext_menu-35 .close-icon::after {
  background-color: #000000;
}
#ext_menu-35 .link,
#ext_menu-35 .dropdown-item {
  color: #000000;
}
#ext_menu-35 .link {
  font-size: 0.75rem;
}
#ext_menu-35 .dropdown-item,
#ext_menu-35 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-35 .link:hover,
#ext_menu-35 .dropdown-item:hover,
#ext_menu-35 .link:focus,
#ext_menu-35 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-35 .link[aria-expanded="true"],
#ext_menu-35 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-35 .nav-dropdown-sm .link:focus,
#ext_menu-35 .nav-dropdown-sm .link:hover,
#ext_menu-35 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-35 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-35 .navbar,
#ext_menu-35 .nav-dropdown-sm,
#ext_menu-35 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-35 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-35 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-35 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-35 .bg-color.transparent.opened .link:hover,
#ext_menu-35 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-35 .link[aria-expanded="true"],
#ext_menu-35 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-36 P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-37 .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-37 .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-38 .mbr-section-title,
#social-buttons2-38 .btn-social {
  color: #232323;
}
#contacts1-39 P {
  text-align: center;
}
#content5-3a .mbr-section-title,
#content5-3a p {
  color: #fff;
}
#content5-3a .mbr-section-title {
  text-align: center;
}
#content5-3a P {
  text-align: center;
}
#ext_menu-3d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3d .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-3d .navbar-toggler {
  color: #000000;
}
#ext_menu-3d .close-icon::before,
#ext_menu-3d .close-icon::after {
  background-color: #000000;
}
#ext_menu-3d .link,
#ext_menu-3d .dropdown-item {
  color: #000000;
}
#ext_menu-3d .link {
  font-size: 0.75rem;
}
#ext_menu-3d .dropdown-item,
#ext_menu-3d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3d .link:hover,
#ext_menu-3d .dropdown-item:hover,
#ext_menu-3d .link:focus,
#ext_menu-3d .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-3d .link[aria-expanded="true"],
#ext_menu-3d .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-3d .nav-dropdown-sm .link:focus,
#ext_menu-3d .nav-dropdown-sm .link:hover,
#ext_menu-3d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-3d .navbar,
#ext_menu-3d .nav-dropdown-sm,
#ext_menu-3d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-3d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-3d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3d .bg-color.transparent.opened .link:hover,
#ext_menu-3d .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-3d .link[aria-expanded="true"],
#ext_menu-3d .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-3e P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-3f .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-3f .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-3g .mbr-section-title,
#social-buttons2-3g .btn-social {
  color: #232323;
}
#contacts1-3h P {
  text-align: center;
}
#content5-3i .mbr-section-title,
#content5-3i p {
  color: #fff;
}
#content5-3i .mbr-section-title {
  text-align: center;
}
#content5-3i P {
  text-align: center;
}
#ext_menu-3l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3l .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-3l .navbar-toggler {
  color: #000000;
}
#ext_menu-3l .close-icon::before,
#ext_menu-3l .close-icon::after {
  background-color: #000000;
}
#ext_menu-3l .link,
#ext_menu-3l .dropdown-item {
  color: #000000;
}
#ext_menu-3l .link {
  font-size: 0.75rem;
}
#ext_menu-3l .dropdown-item,
#ext_menu-3l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3l .link:hover,
#ext_menu-3l .dropdown-item:hover,
#ext_menu-3l .link:focus,
#ext_menu-3l .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-3l .link[aria-expanded="true"],
#ext_menu-3l .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-3l .nav-dropdown-sm .link:focus,
#ext_menu-3l .nav-dropdown-sm .link:hover,
#ext_menu-3l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-3l .navbar,
#ext_menu-3l .nav-dropdown-sm,
#ext_menu-3l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-3l .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-3l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3l .bg-color.transparent.opened .link:hover,
#ext_menu-3l .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-3l .link[aria-expanded="true"],
#ext_menu-3l .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-3m P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-3n .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-3n .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-3o .mbr-section-title,
#social-buttons2-3o .btn-social {
  color: #232323;
}
#contacts1-3p P {
  text-align: center;
}
#content5-3q .mbr-section-title,
#content5-3q p {
  color: #fff;
}
#content5-3q .mbr-section-title {
  text-align: center;
}
#content5-3q P {
  text-align: center;
}
#ext_menu-3t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3t .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-3t .navbar-toggler {
  color: #000000;
}
#ext_menu-3t .close-icon::before,
#ext_menu-3t .close-icon::after {
  background-color: #000000;
}
#ext_menu-3t .link,
#ext_menu-3t .dropdown-item {
  color: #000000;
}
#ext_menu-3t .link {
  font-size: 0.75rem;
}
#ext_menu-3t .dropdown-item,
#ext_menu-3t .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3t .link:hover,
#ext_menu-3t .dropdown-item:hover,
#ext_menu-3t .link:focus,
#ext_menu-3t .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-3t .link[aria-expanded="true"],
#ext_menu-3t .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-3t .nav-dropdown-sm .link:focus,
#ext_menu-3t .nav-dropdown-sm .link:hover,
#ext_menu-3t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-3t .navbar,
#ext_menu-3t .nav-dropdown-sm,
#ext_menu-3t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-3t .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-3t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3t .bg-color.transparent.opened .link:hover,
#ext_menu-3t .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-3t .link[aria-expanded="true"],
#ext_menu-3t .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-3u P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-3v .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-3v .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-3w .mbr-section-title,
#social-buttons2-3w .btn-social {
  color: #232323;
}
#contacts1-3x P {
  text-align: center;
}
#content5-3y .mbr-section-title,
#content5-3y p {
  color: #fff;
}
#content5-3y .mbr-section-title {
  text-align: center;
}
#content5-3y P {
  text-align: center;
}
#ext_menu-41 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-41 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-41 .navbar-toggler {
  color: #000000;
}
#ext_menu-41 .close-icon::before,
#ext_menu-41 .close-icon::after {
  background-color: #000000;
}
#ext_menu-41 .link,
#ext_menu-41 .dropdown-item {
  color: #000000;
}
#ext_menu-41 .link {
  font-size: 0.75rem;
}
#ext_menu-41 .dropdown-item,
#ext_menu-41 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-41 .link:hover,
#ext_menu-41 .dropdown-item:hover,
#ext_menu-41 .link:focus,
#ext_menu-41 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-41 .link[aria-expanded="true"],
#ext_menu-41 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-41 .nav-dropdown-sm .link:focus,
#ext_menu-41 .nav-dropdown-sm .link:hover,
#ext_menu-41 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-41 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-41 .navbar,
#ext_menu-41 .nav-dropdown-sm,
#ext_menu-41 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-41 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-41 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-41 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-41 .bg-color.transparent.opened .link:hover,
#ext_menu-41 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-41 .link[aria-expanded="true"],
#ext_menu-41 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-42 P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-43 .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-43 .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-44 .mbr-section-title,
#social-buttons2-44 .btn-social {
  color: #232323;
}
#contacts1-45 P {
  text-align: center;
}
#content5-46 .mbr-section-title,
#content5-46 p {
  color: #fff;
}
#content5-46 .mbr-section-title {
  text-align: center;
}
#content5-46 P {
  text-align: center;
}
#ext_menu-49 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-49 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
}
#ext_menu-49 .navbar-toggler {
  color: #000000;
}
#ext_menu-49 .close-icon::before,
#ext_menu-49 .close-icon::after {
  background-color: #000000;
}
#ext_menu-49 .link,
#ext_menu-49 .dropdown-item {
  color: #000000;
}
#ext_menu-49 .link {
  font-size: 0.75rem;
}
#ext_menu-49 .dropdown-item,
#ext_menu-49 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-49 .link:hover,
#ext_menu-49 .dropdown-item:hover,
#ext_menu-49 .link:focus,
#ext_menu-49 .dropdown-item:focus {
  color: #163fa4;
}
#ext_menu-49 .link[aria-expanded="true"],
#ext_menu-49 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-49 .nav-dropdown-sm .link:focus,
#ext_menu-49 .nav-dropdown-sm .link:hover,
#ext_menu-49 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-49 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-49 .navbar,
#ext_menu-49 .nav-dropdown-sm,
#ext_menu-49 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-49 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-49 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-49 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-49 .bg-color.transparent.opened .link:hover,
#ext_menu-49 .bg-color.transparent.opened .link:focus {
  color: #163fa4;
}
#ext_menu-49 .link[aria-expanded="true"],
#ext_menu-49 .dropdown-item[aria-expanded="true"] {
  color: #163fa4!important;
}
#footer1-4a P {
  color: #efefef;
  font-size: 15px;
}
#msg-box2-4b .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-4b .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons2-4c .mbr-section-title,
#social-buttons2-4c .btn-social {
  color: #232323;
}
#contacts1-4d P {
  text-align: center;
}
